<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Send Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Send Email</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{'/company_management_system/' + ${role} + '/send_email/' + ${username}}" th:object="${email}" enctype="multipart/form-data" method="post" >
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="from" class="col-form-label">From: </label>
                        <input type="email" th:field="*{from}" readonly="readonly" class="form-control" id="from" th:placeholder="${from}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="to" class="col-form-label">To: </label>
                        <input type="email" th:field="*{to}" class="form-control" id="to" placeholder="To">
                        <span th:if="${#fields.hasErrors('to')}" th:errors="*{to}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cc" class="col-form-label">Cc: </label>
                        <input type="email" class="form-control" id="cc" name="cc" placeholder="cc" multiple>
                    </div>
                    <p>Enter multiple email addresses, separated by a comma.</p>
                    <div class="form-group col-md-6">
                        <label for="bcc" class="col-form-label">Bcc: </label>
                        <input type="email" class="form-control" id="bcc" name="bcc" placeholder="bcc" multiple>
                    </div>
                    <p>Enter multiple email addresses, separated by a comma.</p>
                    <div class="form-group col-md-6">
                        <label for="subject" class="col-form-label">Subject: </label>
                        <input type="text" th:field="*{subject}" class="form-control" id="subject" placeholder="subject">
                        <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group col-md-6">
                        <label for="body" class="col-form-label">Body: </label>
                        <textarea th:field="*{body}" class="form-control" id="body" rows="6" cols="80"/>
                        <span th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="uploadFile" class="col-form-label">Upload File: </label>
                        <input type="file" id="uploadFile" name="attachedFile" class="form-control-file" placeholder="uploadFile" size="50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Send" >
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>